#show-values {
    display: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("a-red-mini-coupe-driving-on-the-highway-with-high-speed.jpg");
    background-position: center;
    background-size: 100% auto;
    width: 900px;
    /* height: 70px; */
    /* border: 10px solid; */
    background-color: #2995c3;
    /* background-image: linear-gradient(to right, rgba(209, 201, 201, 0), rgba(255,0,0,1)); */
    color: rgb(255, 255, 255);
}

header {
    text-align:  center;
    margin-top: 359px;
}

form {
    margin-left: auto; 
    margin-right: auto; 
    width: 350px; 
    text-align: center; 
    margin-top: 60px; 
    border-style: dotted;
    border-width: thick;
    padding-top: 15px;
}

main {
    height: 50px;
}
body > main > article {
    text-align: center;
} 

footer {
    color: #fff;
    background-color: #ffffff;
    background-image: linear-gradient(to right, rgba(209, 201, 201, 0), rgba(255,0,0,1));
    border: 2px solid;
    border-radius: 15px;
    height: 60px;
    text-align: center;
    position: fixed;
    bottom:0;
    left:0;
    right: 0;

    
}

footer > span {
    position: relative;
    top: 20px;
    font-weight: 700;
}

.success-record {
    padding: 5px;
    text-align: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    color:#79bb79;
    background-color: #dcecdc;
} 

.success-record > div{
    display: inline-block;
}
.success-record > div > svg{
    position: relative; 
    top: 2px;
    left: 2px;
    cursor: pointer;
}

#success-record-msg {
    display: none;
}

.error-record {
    padding: 5px;
    text-align: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    color:#c96565;
    background-color: #efd9ce;
} 

.error-record > div{
    display: inline-block;
}

.error-record > div > svg{
    position: relative; 
    top: 2px;
    left: 2px;
    cursor: pointer;
}

#error-record-msg {
    display: none;
}

#carLogo{
    display: flex;    
    justify-content: center;   
    position: fixed;
    bottom:0;
    left:0;
    right: 0;

}
 /*MUDANDO BOTAO ENVIAR */
send-button{ 
    background-color: #8cc9e4;
    
    border-style: solid;
    border-width: 5px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    border-radius: 12px;
    padding: 10px 24px;
    font-size: 14px;
    transition-duration: 0.1s;
    font-weight: 700;
}

#send-button:hover {
    background-color: #ffffff; 
    color: #2e3c42;
    font-weight: 700;
}
 /* ESPAÇOS DE INPUT */
input {
    background-color: #575758;
    border: #ffffff;
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 4px;
    text-align: center;
}